<div class="container">
	

	<h1>Listing articles<spam>
	<%= link_to 'New article', new_article_path, class:"btn btn-success"%>
	<div class="container"> </spam></h1>
	    <div class="row">
	        <div class="col-sm-8">
	        	
		          <% @articlesOrdered.each do |article| %>	
		          <div style="background-color:#95a5a6">
		          <h5 style="float:right">Fecha: <%= article.date %></h5>    
		          <h2><%= article.title %></h2>
		          <p><%= article.text %></p>
		          <p style="float:right">comments:<%= article.comments.count %></p>
		            
		            <p><%= link_to 'Edit', edit_article_path(article)  %>
		            <spam><%= link_to 'show', article_path(article)%></spam>
		            <spam><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }%> </spam></p>
		          </div>
		        	<% end %>
	        
	        </div>
	        <div class="col-sm-4" style:"background-color:#2c3e50">
	        <% @articlesOrdered.first(5).each do |article| %>
	         <h2><%= article.title %></h2>
	            <p><%= article.text %></p>
	            <p><%= article.date %></p>
	        <% end %>


	                     
	        </div>
	    </div>
	</div>
</div>
