<!DOCTYPE html>
<html>
<head>
  <title>InnoBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
	<%=link_to "InnoBlog", articles_path, class:"navbar-brand"%>
	
</nav>
<%= yield %>

</body>
</html>
